.category {
	&__title {
		font-size: 38px;
		margin-bottom: 25px;
		text-align: center;
	}

	&__products-grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: repeat(4, 1fr);
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
		row-gap: 50px;
	}
}
